@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic');

* {
  box-sizing: border-box
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  color: #FFF;
  background-color: #000;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  color: #C4C4C4;
}

h1 {
  padding-left: 20px;
}

h2 {
  width: 40vw;
  margin-bottom: 56px;

  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
}

p {
  width: 40vw;
  margin-bottom: 40px;

  font-size: 24px;
  font-style: italic;
  line-height: 130%;
}

p + p {
  text-align: right;

  font-size: 20px;
}

header {
  position: fixed;
  z-index: 100;

  display: flex;

  width: 100%;
  padding: 15px 0 15px 0;

  background-color: #000;

  font-size: 25px;

  justify-content: space-between;

}

header a {
  padding-right: 20px;
}

.logo {
  display: flex;
}

.fame, .texts, .conserts, .friendship {
  display: flex;
  overflow: hidden;

  margin-bottom: 30px;

  justify-content: space-between;
}


.fametext, .consertstext {
  margin: 170px 0 0 170px;
}

.textstext {
  margin: 120px 200px 0 100px;
}

.friendshiptext {
  margin: 170px 200px 0 100px;
}

.slava {
  padding-left: 10vw;
}

.two {
  width: 500px;
  height: 700px;
}

.ionka {
  padding-left: 50px;
}

.all {
margin-left: -500px;
}

.abstractrap {
  margin: 200px 0;

  text-align: center;

  justify-content: center;
  align-items: center;
}

.abstractrap h2 {
  width: 51vw;
  margin: 0 auto;
  margin-bottom: 56px;
}

.abstractrap a {
  padding: 10px 20px;

  color: #C4C4C4;
  border-radius: 5px;
  background-color: #000;
}

.abstractrap a + a {
  color: #000;
  background-color: #C4C4C4;

  font-weight: 700;
}

footer {
  padding-bottom: 30px;

  text-align: center;

  line-height: 130%;
}

.logosvg {
  z-index: 99;

  width: 24px;
  height: 16px;
  margin: 0 10px 0 10px;
}

@media (max-width: 1025px)  {

  .slava {
    padding-left: 6vw;
  }

  .all {
    margin-left: -600px;

  }

  .friendshiptext {
    margin: 170px 200px 0 123px;
  }

@media (max-width: 769px) {

  header {
    font-size: 18px;
  }

  h2 {
    width: 40vw;
    margin-bottom: 56px;

    font-size: 24px;
  }

  p {
    margin-bottom: 40px;

    font-size: 18px;
  }

  .fame {
    flex-direction: column;
  }

  .friendship {
    flex-direction: column-reverse;
  }

  .slava, .all {
    width: 100vw;
    padding-left: 0;
  }

  .fame h2, .friendship h2, .fame p, .friendship p {
    width: 66vw;
  }

  .fametext {
    margin-top: 170px;
    margin-left: 16vw;
  }

  .two {
    width: 50vw;
    height: 70vw;
  }

  .textstext, .consertstext {
    margin-top: 100px;
    margin-left: 8vw;
   }

   .ionka {
     width: 50vw;
     height: 60vw;
   }

   .all {
     width: 100vw;;
     margin-left: 0;
   }

   .friendshiptext {
     margin-top: 100px;
     margin-left: 16vw;
   }








}
