@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic');

* {
  box-sizing: border-box
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  color: #FFF;
  background-color: #000;

  font-family: 'Roboto', sans-serif;
  line-height: 170%;
}

a {
  text-decoration: none;
}

h1 {
  padding-left: 20px;
}

h2 {
  width: 480px;
  margin-bottom: 56px;

  font-size: 30px;
  font-weight: 700;
}

p {
  width: 480px;
  margin-bottom: 40px;

  font-size: 24px;
  font-style: italic;
}

p + p {
  /* margin-bottom: 200px; */
  text-align: right;

  font-size: 20px;
}

header {
  position: fixed;
  z-index: 100;

  display: flex;

  width: 100%;
  padding: 15px 0 15px 0;

  background-color: #000;

  font-size: 25px;

  justify-content: space-between;

}

header a {
  padding-right: 20px;
}

.logo {
  display: flex;
}

.fame, .texts, .conserts, .friendship {
  display: flex;
  overflow: hidden;

  margin-bottom: 30px;

  justify-content: space-between;
}


.fametext, .consertstext {
  margin: 170px 0 0 170px;
}

.textstext, .friendshiptext {
  margin: 170px 200px 0 0;
}

.slava {
  padding-left: 316px;
}

.two {
  width: 500px;
  height: 700px;
}

.ionka {
  padding-left: 50px;
}

.all {
margin-left: -500px;
}

.abstractrap {
  margin: 350px 0 350px 0;

  text-align: center;

  justify-content: center;
}

footer {
  padding-bottom: 30px;

  text-align: center;
}
